# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.js text
*.json text
*.md text
*.html text
*.css text
*.yml text
*.yaml text

# Denote binary files
*.png binary
*.jpg binary
*.ics binary
